<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ_GDZHGVIGD5LTBzdz8metIz2dSKdqb0</string>
	<key>GCM_SENDER_ID</key>
	<string>911471710317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ardecorapp</string>
	<key>PROJECT_ID</key>
	<string>ardecorapp-109ff</string>
	<key>STORAGE_BUCKET</key>
	<string>ardecorapp-109ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911471710317:ios:3f2d704ea16eb4ea1baf64</string>
</dict>
</plist>